{% extends 'tbase.html'%} 
{% load static%}
{% block title %}DHARANA SPA{% endblock %} 
{%block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br /><br />
    <h1 class="header center pink-text text-lighten-3">Bienvenido a Dharana </h1>
    
    <div class="row center">
      <img src="{% static 'Dharanapp/img/spam.jpg'%}" width="450px" alt="">
      <h5 class="header col s12 light" style="font-style: italic ;">
        Armon&iacute;a y belleza integral
      </h5>
    </div>
    <div class="row center">
      <br>
      <h5 class="light" >Por qu&eacute; confiar en Dharana?</h3>
    </div>
    <br /><br />
  </div>
</div>

<div class="containerc">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row center">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center pink-text text-lighten-3">
            <i class="material-icons">check</i>
          </h2>
          <h5 class="center">Equipos de primera</h5>

          <p class="light">
            Tenemos equipos de ultrasonido y l&aacute;ser certificados para su seguridad
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center pink-text text-lighten-3">
            <i class="material-icons">thumb_up</i>
          </h2>
          <h5 class="center">Profesional Calificado</h5>

          <p class="light">
            Profesionales capacitados y en constante estudio 
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center pink-text text-lighten-3">
            <i class="material-icons">attach_money</i>
          </h2>
          <h5 class="center">Precios accesibles</h5>

          <p class="light">
            Tratamientos desde los 10 $ y descuentos increíbles para 2 o más personas
          </p>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
{%endblock %}
