{% extends 'tbase.html' %}
{%block title %}Servicios{% endblock %}
{% block content %}
<h1 class="header center pink-text text-lighten-3">Servicios</h1>
<div class="container section">
  <div class="row center">
    {% for tratamiento in tratamientos%}
    <div class="col s12 m4">
      <div class="card">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/{{tratamiento.foto}}">
        </div>
        <div class="card-content">
        <span class="card-title activator pink-text text-lighten-3">{{ tratamiento.nombre }}<i class="material-icons right">info_outline</i></span>
        <span class="card-title activator grey-text text-darken-1">Precio:{{ tratamiento.precio }}(USD)
        </div>
        <div class="card-reveal" style="background-color: #f48fb1;">
        <span class="card-title white-text">{{ tratamiento.nombre }}({{tratamiento.precio}}$)<i class="material-icons right">close</i></span>
        <p style="font-size: x-large;color: white;">{{ tratamiento.descripcion }}</p>
        </div>
      </div>      
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

