{% extends 'tbase.html' %}
{%block title %}Servicios{% endblock %}
{% block content %}
<h1 class="header center pink-text text-lighten-3">Servicios</h1>
<div class="row ">
  <div class=" col s12 m6 ">
    {% for tratamiento in tratamientos%}
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/{{tratamiento.foto}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ tratamiento.nombre }}<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>{{ tratamiento.descripcion }}</p>
        <p>{{ tratamiento.precio }}</p>
      </div>
    </div>    
    {% endfor %}  
  </div>
</div>

{% endblock %}
