<!DOCTYPE html>
<html lang="en">
<head>
  {%  load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{%block title%}{% endblock %}</title>
  <!-- CSS  -->
  {% block header %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'Dharanapp/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'Dharanapp/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% endblock header %}
</head>
<body style="background-color: #FDE1EA;">
  <nav class="pink lighten-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'pinicio'%}" class="brand-logo">Dharana SPA</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'preserva'%}">Reservar Cita</a></li>
        <li><a href="{% url 'pservicio'%}">Servicios</a></li>
        <li><a href="/admin">Gestión</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'pinicio'%}">Inicio</a></li>
        <li><a href="{% url 'preserva'%}">Reservar Cita</a></li>
        <li><a href="{% url 'pservicio'%}">Servicios</a></li>
        <li><a href="/admin">Gestion</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {%block content %}
  {% endblock %}
  <footer class="page-footer pink lighten-3">
    <div class="container">
      <div class="row ">
        <div class="col l6 s12">
          <h5 class="white-text"><i class="material-icons">map</i>Direcci&oacute;n </h5>
          <ul>
            <li><a class="white-text" href="https://www.google.com.ec/maps/place/DHARANA+SPA/@-1.6794934,-78.6474159,19z/data=!4m5!3m4!1s0x91d3a9e39791c027:0xbe75d86be5719518!8m2!3d-1.6793966!4d-78.646915?hl=es">Chile 14-20 y Loja</a></li>
            <li>Ciudadela la Paz</li>
            <li>Riobamba</li>
            <li>Ecuador</li>
          </ul>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"><i class="material-icons">contacts</i>Contacto</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram:</a></li>
            <li><a class="white-text" href="#!">Facebook:</a></li>
            <li><a class="white-text" href="#!">Whatsapp:</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="http://materializecss.com" >bapd &reg;2021</a>
      </div>
    </div>
  </footer>

{%block footer_scripts %}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'Dharanapp/js/materialize.js' %}"></script>
  <script src="{% static 'Dharanapp/js/init.js' %}"></script>
  {%endblock footer_scripts %}
  </body>
</html>
